# Configuración general de Django
DEBUG=True
SECRET_KEY=cambiar-esto-por-una-clave-secreta-segura-en-produccion

# Configuración de base de datos PostgreSQL
DB_NAME=emotion_detector_db
DB_USER=postgres
DB_PASSWORD=tu_contraseña_aquí
DB_HOST=127.0.0.1
DB_PORT=5432
