Django==5.0.6
opencv-python==4.13.0.92
deepface==0.0.100
tensorflow==2.21.0
tf-keras==2.21.0
psycopg2-binary==2.9.12
numpy==2.5.0
Pillow==12.2.0
django-environ==0.11.2
gunicorn==26.0.0
whitenoise==6.6.0
